---
layout: main
---

<div class="container flex flex-col justify-center items-center top-containter">
  <section class="wide-container petition-articles">
    {% set petitionlist = collections.petitions %}

    {% for petition in petitionlist %}
    {% if petition.data.title and petition.data.title | length > 5 %}

    <article class="petition">
        <a href="{{ petition.url | url }}">
            {% if petition.data.coverImage %}
            <img class="" src="{{ petition.data.coverImage }}" alt="{{ petition.data.title }}">
            {% endif %}
            <div class="petition-txt">
                <h2>{{ petition.data.title }}</h2>
                <p>{{ petition.data.description }}</p>
            </div>
            <div class="case">
                <a href="mailto:{{ petition.data.toEmail }}?subject={{ petition.data.subject | replace(' ', '%20') }}&cc={{ petition.data.cc }}&bcc={{ petition.data.bcc }}&body={{ petition.templateContent | replace('\n', '%0A') | replace(' ', '%20') | replace('<p>', '') | replace('</p>', '')}}"><button class="sign-btn">Sign ➔</button></a>
            </div>
        </a>
    </article>
    {% endif %}
    {% endfor %}
</section>
</div>