*::-webkit-scrollbar {
    display: none;
  }
*::-webkit-scrollbar-button {
    display: none;
  }
.logo{
    margin-top: 1rem;
    max-width: 100px;
    background-color: #1A723E;
    border-radius: 100%;
  }
article > p{
    font-size: 12pt;
    font-family: Roboto, sans-serif;
    text-align: justify;
    margin: 0 !important;
  }
article > h4{
    font-size: 12pt;
    font-family: Roboto, sans-serif;
    font-weight: 800;
    margin: 0 !important;
  }
img{
  margin: 0 auto;
  }
.sign-btn{
    padding: 10px;
    width: 216px;
    height: 59px;
    background: #000000;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    }
.case{
    display: flex;
    align-items: center;
    justify-content: center;
}