*::-webkit-scrollbar {
    display: none;
  }
*::-webkit-scrollbar-button {
    display: none;
  }

img{
  margin: 0 auto;
  }
.sign-btn{
    padding: 10px;
    width: 216px;
    height: 59px;
    background: #000000;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    }
.case{
    display: flex;
    align-items: center;
    justify-content: center;
}